.usercard {
    border: 2px solid black;
}

.active {
    border: 2px solid red ;

    h1{
        color: brown;
        font-size: 22px;
        font-weight: 700; 
    }

    p{
        color: brown;
        font-size: 22px;
        font-weight: 700;
    }

    span{
        color: brown;
        font-size: 22px;
        font-weight: 700;
    }
    
}